<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
    <param-name>student.file.path</param-name>
    <param-value>D:\\workspace_project\\student-app\\src\\main\\java\\resources\\students.csv</param-value>
  </context-param>
  
  <listener>
    <listener-class>by.iba.student.web.listener.ApplicationContextListener</listener-class>
  </listener>
  
  <servlet>
   <servlet-name>StudentServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>StudyServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.StudyServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>GroupServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.GroupServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>ProfessorServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.ProfessorServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>MarkServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.MarkServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>UserServlet</servlet-name>
   <servlet-class>by.iba.student.web.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>StudentServlet</servlet-name>
   <url-pattern>/students</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>StudyServlet</servlet-name>
   <url-pattern>/studies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>GroupServlet</servlet-name>
   <url-pattern>/groups</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ProfessorServlet</servlet-name>
   <url-pattern>/professors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>MarkServlet</servlet-name>
   <url-pattern>/marks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>UserServlet</servlet-name>
   <url-pattern>/users</url-pattern>
  </servlet-mapping>
 
</web-app>
